.card {
  padding: 1em;
  margin: 1em;
  border: 1px solid #ccc;
  border-radius: 8px;
}

button {
  margin-top: 0.5em;
  padding: 0.5em 1em;
  cursor: pointer;
}


.dark {
  background-color: #121212;
  color: #ffffff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.light {
  background-color: #ffffff;
  color: #000000;
  transition: background-color 0.3s ease, color 0.3s ease;
}